---
http_interactions:
- request:
    method: get
    uri: http://ipinfo.io/161.185.207.20/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - a5334c4636c3aed82cd51f18d8574e1c/4926371675377591385;o=0
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "161.185.207.20",
          "city": "Brooklyn",
          "region": "New York",
          "country": "US",
          "loc": "40.6940,-73.9901",
          "postal": "11201",
          "timezone": "America/New_York",
          "readme": "https://ipinfo.io/missingauth"
        }
  recorded_at: Tue, 01 Oct 2019 03:22:48 GMT
recorded_with: VCR 4.0.0
